@model MessageBoard.Models.BlogTopicBM

@functions {
    DateTime localDate = DateTime.Now;
}

@{
    ViewBag.Title = "Add";
}


<h1>Add New Topic</h1>
<br />
@using (Html.BeginForm("Add", "Blog", FormMethod.Post))
{
    <fieldset class="form-group">
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            </li>
            <li>
                @Html.LabelFor(m => m.ImageThumbnail)
                @Html.TextBoxFor(m => m.ImageThumbnail, new { htmlAttributes = new { @class = "form-control" } })
            </li>
            <li>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
            </li>
            
        </ol>
        <input type="submit" value="Add" class="btn btn-large btn-primary" />
    </fieldset>
}
